    .profile-header {
      text-align: center; 
    }
    .profile-pic {
      width: 150px; 
      height: 150px; 
      border-radius: 50%; 
      object-fit: cover; 
    }
    .profile-name {
      margin-top: 20px; 
      font-size: 24px; 
      font-weight: bold; 
    }
    #containerPratos {
      overflow-y: auto; 
      max-height: 200px; 
    }
    body {
      background-color: #f8f9fa; 
      display: flex; 
      justify-content: center; 
      align-items: center;
      height: 100vh; 
    }
    .container-custom {
      background-color: #fff; 
      padding: 20px; 
      border-radius: 10px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
      width: 80%; 
      max-width: 900px; 
    }
    h1 {
      text-align: center; 
    }
